<main class="messageContainer">
    <% for (let i = messages.length - 1; i >= 0; i--) { %>
        <article class="message <%= messages[i].id %>">
            <div class="msgCardRow">
                <p><%= messages[i].text %></p>
                <p>#<%= messages[i].id %></p>
            </div>
            <% if (currentUser) { %>
                <div class="msgCardRow">
                    <% if(currentUser.status === "member" || currentUser.status === "admin") { %>
                        <p><i>- <%= messages[i].first_name %> <%= messages[i].last_name %>, <%= messages[i].timestamp %></i></p>
                    <% } %>
                    <% if(currentUser && currentUser.status === "admin") { %>
                        <form action="/delete" method="post">
                            <input type="hidden" name="msgId" value="<%= messages[i].id %>">
                            <button>Delete</button>
                        </form>
                    <% } %>
                </div>
            <% } %>
        </article>
    <% }; %>
</main>